doctype html
html
  head
    title= title
    meta(name='keyword', content= keyword)
    meta(name='description', content= description)
  body
    block content
    script(src='/index/js/indexMin.js')
