*{
	margin: 0;
	padding: 0;
}
body{
  background: #ff0000;
  font-size: 24px;
}
.fade-transition {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: block;
}
.fade-enter{
  -webkit-transform:translate3d(100%,0,0);
   transform:translate3d(100%,0,0);
}
.fade-leave {
   -webkit-transform:translate3d(-100%,0,0);
  transform:translate3d(-100%,0,0);
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}